@font-face {
  font-family: 'iconfont';  /* project id 2024463 */
  src: url('//at.alicdn.com/t/font_2024463_1rjjm9o5uxb.eot');
  src: url('//at.alicdn.com/t/font_2024463_1rjjm9o5uxb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2024463_1rjjm9o5uxb.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2024463_1rjjm9o5uxb.woff') format('woff'),
  url('//at.alicdn.com/t/font_2024463_1rjjm9o5uxb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2024463_1rjjm9o5uxb.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icondingwei:before {
  content: "\e7d3";
}

.iconshipinhuida:before {
  content: "\e7d0";
}

.iconfenxiang:before {
  content: "\e601";
}

.iconshipin:before {
  content: "\e63f";
}

.iconxinjian:before {
  content: "\e659";
}

.iconshenqingtongguo:before {
  content: "\e60a";
}

.icondianhua:before {
  content: "\e729";
}

.iconguanbi:before {
  content: "\e60d";
}

.iconsousuo:before {
  content: "\e60b";
}

.icontiwen:before {
  content: "\e693";
}

.iconweixin2:before {
  content: "\e600";
}

.icondizhi:before {
  content: "\e744";
}

.iconpengyouquan:before {
  content: "\e747";
}

.iconziyuan:before {
  content: "\e62e";
}

.iconxiala:before {
  content: "\e618";
}

.iconsousuo1:before {
  content: "\e66e";
}

.iconwode:before {
  content: "\e66f";
}

.iconmoban:before {
  content: "\e670";
}

.iconsousuo2:before {
  content: "\e672";
}

.iconguize:before {
  content: "\e673";
}

.iconshijianfenge:before {
  content: "\e674";
}

.icongengduo:before {
  content: "\e675";
}

.iconhuishouye:before {
  content: "\e676";
}

.icontouxiangmorentu:before {
  content: "\e677";
}

.iconweixin1:before {
  content: "\e678";
}

.iconfenxiang1:before {
  content: "\e67a";
}

.iconxin2:before {
  content: "\e7bb";
}

.iconxin1:before {
  content: "\e7bc";
}

.icontouxiangmorentu1:before {
  content: "\e679";
}

.iconwuguanggaode:before {
  content: "\e67b";
}

.iconchanpingongxianjilu:before {
  content: "\e67c";
}

.iconshoucang1:before {
  content: "\e67d";
}

.iconwenda:before {
  content: "\e7c4";
}

.iconpingfen2:before {
  content: "\e7c6";
}

.icondianzan:before {
  content: "\e7c7";
}

.icontupian:before {
  content: "\e7c9";
}

.iconshipin2:before {
  content: "\e7ca";
}

.iconbianji:before {
  content: "\e7cb";
}

.iconhuida:before {
  content: "\e7cc";
}

.icontiwen1:before {
  content: "\e7cd";
}

.iconguanzhu:before {
  content: "\e7ce";
}

.iconwenti:before {
  content: "\e7cf";
}
