.index{
    min-height: 100vh;
    background-color: #fff;
}
.hd{
    padding-bottom: 30px;
    border-bottom: 5px solid #F7F8F9;
    .hd-img{
        width: 375px;
        height: 190px;
        margin-bottom: 20px;
    }
    .hd-text{
        display: block;
        width: 182px;
        margin: 0 auto;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }
}

.bd{
    padding: 30px 20px 0 20px;
    .bd-title{
        display: block;
        margin-bottom: 5px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }
    .bd-subtitle{
        display: block;
        margin-bottom: 30px;
        font-size: 12px;
        text-align: center;
        color: #c8ccd7;
        line-height: 17px;
    }
    .btn-con{
        display: flex;
        justify-content: space-between;
        .btn{
            width: 160px;
            height: 44px;
            text-align: center;
            line-height: 44px;
            font-size: 14px;
            font-weight: 500;
            border-radius: 4px;
        }
        .cut{
            border: 1px solid  #0000AF;
            color: #0000AF;
        }
        .add{
            background-color: #0000AF;
            color: #fff;
        }
    }
}