.G-blank{
  .G-blank-img{
    width: 375px;
    height: 367px;
    margin-bottom: 10px;
  }
  .G-blank-message{ 
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #a7adb6;
    line-height: 20px;
  }
}