.content {
  min-height: 100vh;
  background: #ffff;
}

// 问题
.question {
  width: 100%;
  padding: 15px;
  line-height: 22px;
}
.line {
  width: 100%;
  height: 15px;
  background: #f7f8f9;
}
.contain {
  padding: 15px;
  background: #fff;
  .box {
    width: 345px;
    height: 194px;
    background: #f7f8f9;
    border-radius: 2px;
    .type {
      text-align: center;
      box-sizing: border-box;
      padding-top: 66px;
      .iconshipin2 {
        font-size: 32px;
      }
      .iconziyuan {
        font-size: 31px;
        font-weight: bold;
      }
      .word {
        line-height: 20px;
        margin: 10px 0 26px;
      }
      .remarks {
        line-height: 20px;
        color: #e95454;
      }
    }
    .video-box {
      width: 345px;
      height: 194px;
      border-radius: 2px;
      overflow: hidden;
      position: relative;
      .video {
        width: 345px;
        height: 194px;
        border-radius: 2px;
      }
      .close-con {
        width: 24px;
        height: 24px;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 0px 2px 0px 8px;
        position: absolute;
        top:0;
        right:0;
      }
    }
    .voice-box {
      width: 345px;
      height: 194px;
      background: #fff;
      overflow: hidden;
      position: relative;
      .voice {
        width: 100%;
        height: 45px;
        background: #f5e8ca;
        border-radius: 2px;
        padding: 0 15px;
      }
      .close-con {
        width: 24px;
        height: 24px;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 0px 2px 0px 8px;
        position: absolute;
        top:0;
        right:0;
      }
    }
  }
  .btn {
    line-height: 44px;
    width: 345px;
    height: 44px;
    margin-top: 15px;
    &.submit-btn {
      border-radius: 4px;
      text-align: center;
      background: #eeeeee;
      color: #a7adb6;
      &.saved {
        background: #0000af;
        color: #fff;
      }
    }
    &.change-btn {
      background: #ffffff;
      border: 1px solid #f7f8f9;
      border-radius: 4px;
      text-align: center;
    }
  }
}

//录制音频弹窗
.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  .black-bg {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .alert-b {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 254px;
    background: #fff;
    border-radius: 8px 8px 0px 0px;
    .title {
      height: 50px;
      line-height: 50px;
      padding-left: 15px;
    }
    .close {
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 22px;
    }
    .con {
      height: 120px;
      width: 100%;
      padding: 0 30px;
      .left {
        .cir1 {
          width: 60px;
          height: 60px;
          background: rgba(200, 204, 215, 0.2);
          border-radius: 50%;
          position: relative;
          margin-right: 10px;
          &.start {
            background: #0000af;
          }
          .cir2 {
            width: 50px;
            height: 50px;
            background: rgba(200, 204, 215, 0.6);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &.start {
              background: #fff;
            }
            .cir3 {
              width: 40px;
              height: 40px;
              background: #0000af;
              border-radius: 50%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              &.start {
                width: 32px;
                height: 32px;
              }
            }
          }
        }
      }
      .right {
        color: #0000af;
      }
    }
  }
}
